html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

@layer utilities {
	.visually-hidden  {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		width: 1px;
		@apply overflow-hidden absolute whitespace-nowrap
	}

	.btn {
		@apply p-1 border border-purple-700 border-solid rounded hover:bg-purple-200
	}
	.btn-group > .btn {
		@apply rounded-none first:rounded-l last:rounded-r border-r-0 last:border-r
	}
}
